@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer base {
  button {
    @apply cursor-pointer;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.grid-background {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, #80808012 2px, transparent 2px),
    linear-gradient(to bottom, #80808012 2px, transparent 2px);
  background-size: 70px 70px;
}

.left-card {
  transform: translateX(-100%);
}

.right-card {
  transform: translateX(100%);
}

.header-text-bg {
  color: transparent;
  -webkit-text-stroke: 0.56px #fff;
  font-size: 11vw;
  z-index: -10;
  position: absolute;
  /* left: 50%;
  right: 50%; */
  /* margin: 0 auto; */
}

.faq-text-bg {
  color: transparent;
  -webkit-text-stroke: 0.7px #fff;
  font-size: 15vw;
  z-index: -10;
  position: absolute;
  /* left: 50%;
  right: 50%; */
  /* margin: 0 auto; */
}
